.application .content {
    margin-top: 20px;
    padding: 20px 13px 10px 20px;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

.application .modal-left .modal-header {
    width: 100%;
    height: 70px;
    background: rgb(228, 228, 228);
    font-size: 20px;
    text-align: center;
    line-height: 42px
}

.application .model-content {
    width: auto;
    border-radius: 10px;
}

.application .modal-header .close {
    margin-top: -2px;
}

.application .start {
    display: inline-block;
    border: none;
    background: transparent;
    color: #FFC952;
}

.application .model-content .stop {
    color: #FF7473;
    display: inline-block;
    border: none;
    background: transparent;
}

.application .model-content .manager {
    color: rgb(0, 170, 122);
    display: inline-block;
    border: none;
    background: transparent;
}

.application .model-content .delete {
    color: #FF7473;
    display: inline-block;
    border: none;
    background: transparent;
}

.application .modal-content {
    overflow: auto
}

.application .btn-body {
    height: 58px;
    border-top: 1px solid #EEF1F7;
}

.application .empower-footer>button.btn-reset {
    background: #00aa7a;
}

button.btn.btn-reset {
    background: #00aa7a;
    border: 1px solid #00aa7a;
    color: #fff;
    margin: 15px 10px 0 0;
}

button.btn.btn-reset[disabled]:hover {
    background: #00aa7a;
    color: #fff;
}

.application .manager span:hover {
    border-bottom: 1px solid rgb(0, 170, 122)
}

.application .start span:hover {
    border-bottom: 1px solid #FFC952
}

.application .stop span:hover {
    border-bottom: 1px solid #FF7473
}

.application .fal {
    font-size: 12px;
    color: #a94442;
    position: absolute;
    width: 200px;
    z-index: 9999;
    background: #fff;
    line-height: 35px
}

.application .model-add:hover {
    background: rgba(0, 170, 122, .7);
    transform: scale(1);
}

.btn-default[disabled] {
    color: #ddd !important;
    border-bottom: none;
}

button.btn.btn-default.pull-right.btn-space {
    margin-top: 12px;
}

/*添加应用按钮右边垂直居中*/
.add-app-btn {
  margin-top: 18px;
  margin-right: 18px
}
