<div class="business-log component journal-info clearfix primeng-treeTable">
  <div class="title">
    <span>业务日志</span>
  </div>
  <div class="line"></div>
  <div class="content">
    <div class="search-filter clearfix">
      <div class="date-search">
        <!--时间选择-->
        <ul class="date-list clearfix" (click)="datePicker($event)">
          <li><span [ngClass]="{'bgc-checked':isClick=='seven'}" id="seven">最近7天</span></li>
          <li><span [ngClass]="{'bgc-checked':isClick=='fifteen'}" id="fifteen">最近15天</span></li>
          <li><span [ngClass]="{'bgc-checked':isClick=='thirty'}" id="thirty">最近30天</span></li>
          <li class='self-date'>
            <span [ngClass]="{'bgc-checked':isClick=='self'|| isSelectedDate}" id='self'>自定义</span>
            <span class="show-time" *ngIf="isSelectedDate" (click)='stopBubble($event)'>{{dateStartShow}} ~ {{dateEndShow}} </span>
            <div class="date-picker appService clearfix primeng-datePicker" *ngIf="isClick=='self'" (click)='stopBubble($event)'>
              <div class="fl calendar-father">
                <!--<span class="time-show">{{ dateStartShow ? dateStartShow : dateStart | date:'yyyy-MM-dd HH:mm:ss'}}</span>-->
                <p-calendar [(ngModel)]="dateStart" [inline]="true" [monthNavigator]="true" [showSeconds]='true' showTime="showTime" hourFormat="24" [maxDate]='dateEnd' [yearNavigator]="true" yearRange="2000:2030" [locale]="zn" [style]="{'position':'relative','top':'-16px'}"
                  (onSelect)='selectStartDate($event)'></p-calendar>
              </div>
              <!--<span style="margin:0 2px">---</span>-->
              <div class="fr calendar-father">
                <!--<span class="time-show">{{ dateEndShow ? dateEndShow : dateEnd | date:'yyyy-MM-dd HH:mm:ss'}}</span>-->
                <p-calendar [(ngModel)]="dateEnd" [inline]="true" [monthNavigator]="true" [showSeconds]='true' showTime="showTime" hourFormat="24" [yearNavigator]="true" yearRange="2000:2030" [locale]="zn" [style]="{'position':'relative','top':'-16px'}" (onSelect)='selectEndDate($event)'
                  [minDate]='dateStart' [maxDate]='maxDate'></p-calendar>
              </div>
              <div class="button" style="clear:both;position: absolute;bottom: -10px;right: 0;">
                <button class="btn btn-reset sure" (click)='sure($event)'>确定</button>
              </div>
            </div>


          </li>
        </ul>
      </div>
      <!--搜索框条件-->
      <div class="select-box clearfix primeng-dropdown">
        <div class="filter-box clearfix">
          <div class="fl">
            <span style='line-height:24px'>筛选：</span>
          </div>
          <div class="fl">
            <div class="filter-item clearfix" *ngFor="let i of loop">
              <span style="display:inline-block;margin-right:10px;float:left">
                <p-dropdown *ngIf="filterSearchData[i][0] || i==row" [options]="businessFilterData" [(ngModel)]="filterSearchData[i][0]"
                  (onChange)='changeSelectData($event,i)' placeholder="请选择---" [style]="{'width':'150px','float':'left'}" filter="filter">
                </p-dropdown>
              </span>
              <span *ngIf="filterSearchData[i][0]" class="primeng-chips primeng-multiSelect" style="float:left">
                <p-chips *ngIf="!filterSearchData[i][2]"  [(ngModel)]="filterSearchData[i][1]" (onAdd)="addValue($event,i)" (onRemove)="removeValue($event)" [max]='20' [style]="{'float':'left'}"></p-chips>
                <p-multiSelect *ngIf="filterSearchData[i][2]" [style]="{'min-width':'130px','float':'left'}" [options]="dropdownData[filterSearchData[i][2]]" (onChange)="addValue($event,i)" [(ngModel)]="filterSearchData[i][1]" [defaultLabel]="defaultLabel"></p-multiSelect>
                <span *ngIf="filterSearchData[i][0]" class="select-close" (click)="reset(i)">&times;</span>
              </span>

            </div>
          </div>

        </div>

      </div>
      <query-data-overloaded *ngIf="totalItems > 1000" class="message-info" [total]="totalItems"></query-data-overloaded>
      <button class="btn btn-reset search-btn" [disabled]='isSearched' (click)="search()">搜索</button>
    </div>
    <div class="list list-order">

      <p-dataTable #dt [value]="journalLog" [emptyMessage]='emptyMessage' (onSort)="changeSort($event)" [sortField]="sortF" [sortOrder]="sortO">
        <p-column field="userName" header="用户姓名" [sortable]="true"></p-column>
        <p-column field="appName" header="应用名称" [sortable]="true"></p-column>
        <p-column field="functionName" header="功能名称" [sortable]="true"></p-column>
        <p-column field="createTime" header="创建时间" [sortable]="true"></p-column>
        <p-column header="操作">
          <template let-data="rowData" pTemplate="body">
            <span class="operate">
                <!--[disabled]='!button.appRoleEditBtn'-->
                  <button class="editor" (click)="viewShow(viewModal,data)">查看</button>
              </span>
          </template>
        </p-column>

      </p-dataTable>
      <div class="download-position" [hidden]="!journalLog ||(journalLog && journalLog.length==0)">
        <button class="btn btn-reset button-position" [disabled]="!button.businessLogDownload" (click)="downloadData()">
          <i class="fa fa-download" aria-hidden="true"></i>
          下载
        </button>
        <!-- <div>

        </div> -->

        <grid-pagination [totalPages]="totalPages" [totalItems]='totalItems > 1000 ? 1000: totalItems' [size]='size' [pageSize]='rowsPerPageOptions' [maxSize]='maxSize' (sizeChanged)='sizeChanged($event)' (pageChanged)='paginate($event)'></grid-pagination>
      </div>

    </div>
  </div>
</div>


<!--查看详情-->
<div class="modal fade common-modal" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">日志详情</h4>
        <button type="button" class="close pull-right colorbgc" aria-label="Close" (click)="viewModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
      </div>
      <div class="modal-body" style="padding:0;margin-left:15px;margin-right:15px">
        <div #modalContent>
          <div class="view">
            <div class="confirm">
              <span>基本信息</span>
            </div>

            <table style="table-layout:fixed" border class="table-view">
              <tr>
                <td>用户姓名</td>
                <td>{{journalLogData?.userName}}</td>
                <td>用户ID</td>
                <td>{{journalLogData?.userId}}</td>
              </tr>
              <tr>
                <td>企业名称</td>
                <td>{{journalLogData?.enterpriseName}}</td>
                <td>企业ID</td>
                <td>{{journalLogData?.enterpriseId}}</td>
              </tr>
              <tr>
                <td>应用名称</td>
                <td>{{journalLogData?.appName}}</td>
                <td>应用版本</td>
                <td>{{journalLogData?.appVersion}}</td>
              </tr>

              <tr>
                <td>应用ID</td>
                <td>{{journalLogData?.appId}}</td>
                <td>功能名称</td>
                <td>{{journalLogData?.functionName}}</td>
              </tr>
              <tr>
                <td>用户IP</td>
                <td>{{journalLogData?.userIp}}</td>
                <td>创建时间</td>
                <td>{{journalLogData?.createTime}}</td>
              </tr>
              <tr>
                <td>微服务名称</td>
                <td>{{journalLogData?.serviceName}}</td>
                <td>服务端IP</td>
                <td>{{journalLogData?.serviceIp}}</td>
              </tr>
              <tr>
                <td>服务端端口</td>
                <td>{{journalLogData?.servicePort}}</td>
                <td>请求URI</td>
                <td>{{journalLogData?.requestURI}}</td>
              </tr>
            </table>
          </div>
          <!--<div class="data-change">-->
          <div class="content-change">
            <div class="confirm">
              <span>变更记录</span>
            </div>
            <div class="confirm-title clearfix">
              <div class="fl title">
                <span>变更类型：</span>
                <span>{{journalLogData?.modifyType}}</span>
              </div>
              <div class="fr title">
                <span>数据ID：</span>
                <span>{{journalLogData?.dataId}}</span>
              </div>

            </div>
            <table class="detail-show" *ngIf="IsdetaiList">
              <tr>
                <th>数据项</th>
                <th>旧值</th>
                <th>新值</th>
              </tr>
              <tbody>
                <tr *ngFor="let row of detailList">
                  <td>{{row?.dataItem}}</td>
                  <td>{{row?.oldValue}}</td>
                  <td>{{row?.newValue}}</td>
                </tr>
              </tbody>
            </table>
            <div class="modifyType-show">
              <div class="detail-view" *ngIf="!IsdetaiList">
                <div class="change-view change-view-title">详情</div>
                <div class="change-view change-view-content">{{journalLogData?.detail}}</div>
              </div>
              <div *ngIf="journalLogData?.remark">
                <div class="change-view change-view-title">备注</div>
                <div class="change-view change-view-content">{{journalLogData?.remark}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="button clearfix" style="border-top: 1px solid #e5e5e5;padding-top: 12px;margin-top:24px;padding-right: 0;">
          <button type="button" class="btn btn-reset fr" (click)="viewModal.hide()">关闭</button>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>

<!--提示信息-->
<p-growl [value]="msgs"></p-growl>

<p-confirmDialog header="提示" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="取消" (click)="cd.reject()" class="btn-cancle"></button>
    <button type="button" pButton icon="fa-check" label="确认" (click)="cd.accept()" class="btn-reset"></button>
  </p-footer>
</p-confirmDialog>