@import './../../../theme/sass/vendor/search-input.scss';
@import './../data-strategy/data-strategy.component.scss';
.reesource-content {
  border: 1px solid #e5e5e5;
  margin: 0 20px;
  min-height: 82%;
}

.resource-admin {
  height: 100%;
}