<div class="content">
    <div class="tab" *ngIf="tab">
        <button class="btn btn-reset " (click)='click()'>创建报警规则</button>
        <ul class="clearfix">
            <li>

                <a (click)="alarmRule()" [ngClass]='{"active":alarmRuleState  && alarmRuleState != -1}'>报警规则</a>
            </li>
            <li>

                <a (click)="alarmHistory()" [ngClass]='{"active":alarmHistorystate  && alarmHistorystate != -1}'>报警历史</a>
            </li>
        </ul>

    </div>
    <div class="alarmContent">
        <router-outlet></router-outlet>
    </div>

</div>