@import './../../../theme/sass/vendor/tab.scss';
.tab {
  margin-top: 15px;
  padding-left: 20px;
  li {
    border-radius: 0;
    a {
      border-radius: 0;
    }
  }
}

.strategy-content {
  min-height: 80%;
  border: 1px solid #e5e5e5;
  margin: 0 20px;
  position: absolute;
}