<div class="balance component  clearfix primeng-treeTable">
    <div class="title">
        <span>负载均衡监控</span>
    </div>
    <div class="line"></div>
    <div>
        <div class="search-filter filter-condition">
            <div class="select-box clearfix primeng-dropdown">
                <div class="filter-box clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="filter" style="display:inline-block">
                        <span>对象：</span>
                        <p-dropdown [options]="dropDownServerNames" [(ngModel)]="selectServerName" placeholder="请选择" (onChange)="onChangeService($event)" [style]="{'min-width':'200px','padding':'1px'}">
                        </p-dropdown>
                    </div>
                    <div class="filter" style="display:inline-block">
                        <span>端口：</span>
                        <p-dropdown [options]="dropDownPort" [(ngModel)]="selectPort" (onChange)="onChangePort($event)" [style]="{'min-width':'150px','padding':'1px'}">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="date-search col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="border-bottom: 1px solid #e5e5e5">
                <!--时间选择-->
                <ul class="date-list clearfix filter" (click)="datePicker($event)">
                    <li><span [ngClass]="{'bgc-checked':isClick=='one'}" id="one">最近1小时</span></li>
                    <li><span [ngClass]="{'bgc-checked':isClick=='three'}" id="three">最近3小时</span></li>
                    <li><span [ngClass]="{'bgc-checked':isClick=='six'}" id="six">最近6小时</span></li>
                    <li class='self-date'>
                        <span [ngClass]="{'bgc-checked':isClick=='self'|| isSelectedDate}" id='self'>自定义</span>
                        <span class="show-time" *ngIf="isSelectedDate">{{dateStartShow }} ~ {{dateEndShow }} </span>
                        <div class="date-picker appService clearfix primeng-datePicker" *ngIf="isClick=='self'" (click)='stopBubble($event)'>
                            <div class="fl calendar-father">
                                <p-calendar [(ngModel)]="dateStart" [inline]="true" [showSeconds]='true' [monthNavigator]="true" showTime="showTime" hourFormat="24" [yearNavigator]="true" yearRange="2000:2030" [style]="{'position':'relative','top':'-16px'}" (onSelect)='selectStartDate($event)'
                                    [locale]="zn" [maxDate]='dateEnd'></p-calendar>
                            </div>
                            <div class="fr calendar-father">
                                <p-calendar [(ngModel)]="dateEnd" [inline]="true" [showSeconds]='true' [monthNavigator]="true" showTime="showTime" hourFormat="24" [yearNavigator]="true" yearRange="2000:2030" [style]="{'position':'relative','top':'-16px'}" (onSelect)='selectEndDate($event)'
                                    [locale]="zn" [minDate]='dateStart' [maxDate]='maxDate'></p-calendar>
                            </div>
                            <div class="button" style="clear:both;clear:both;position: absolute;bottom: -10px;right: 0;">
                                <button class="btn btn-reset sure" (click)='sure($event)'>确定</button>
                            </div>
                        </div>
                    </li>
                </ul>

                <!--搜索框条件-- [legendData]='item.legend.data'>-->


            </div>
            <div class="echarts" #TrafficRXNew>
                <div class="echartsChild" *ngFor="let item of TrafficRXNewArr;let i = index" (mouseover)="mouseover(i)" (mouseout)="mouseout(i)">
                    <div class="echartsIcon" style="display:none" (click)="spanClick(i,monitor,viewModal,TrafficRXtitle)"><img src="./../../../../assets/img/fd.png" alt="" srcset=""></div>
                    <div class="titleName" #TrafficRXtitle>{{item.title}}</div>
                    <monitor #monitor [legendData]='item.data' [xAxisData]=' item.xAxis.data ' [num]='item.num' [seriesData]='item.series '></monitor>
                </div>
                <div class="echartsChild" *ngIf="this.TrafficRXNewArr.length == 0">
                    <div class="titleName">端口流入带宽(bits/s)</div>
                    <p class="default-empty">未查到相关数据</p>
                </div>
            </div>
            <div class="echarts" #TrafficTXNew>
                <div class="echartsChild" *ngFor="let item of TrafficTXNewArr;let i = index" (mouseover)="traMouseover(i)" (mouseout)="traMouseout(i)">
                    <div class="echartsIcon" style="display:none" (click)="traSpanClick(i,monitor,viewModal,Traffictitle)"><img src="./../../../../assets/img/fd.png" alt="" srcset=""></div>
                    <div class="titleName" #Traffictitle>{{item.title}}</div>
                    <monitor #monitor [legendData]='item.data' [xAxisData]=' item.xAxis.data ' [num]='item.num' [seriesData]='item.series '></monitor>
                </div>
                <div class="echartsChild" *ngIf="this.TrafficRXNewArr.length == 0">
                    <div class="titleName">端口流出带宽(bits/s)</div>
                    <p class="default-empty">未查到相关数据</p>
                </div>
            </div>
            <div class="echarts" #NewConnection>
                <div class="echartsChild" *ngFor="let item of NewConnectionArr;let i = index" (mouseover)="newMouseover(i)" (mouseout)="newMouseout(i)">
                    <div class="echartsIcon" style="display:none" (click)="newSpanClick(i,monitor,viewModal,Newtitle)"><img src="./../../../../assets/img/fd.png" alt="" srcset=""></div>
                    <div class="titleName" #Newtitle>{{item.title}}</div>
                    <monitor #monitor [legendData]='item.data' [xAxisData]=' item.xAxis.data ' [num]='item.num' [seriesData]='item.series '></monitor>
                </div>
                <div class="echartsChild" *ngIf="this.NewConnectionArr.length == 0">
                    <div class="titleName"> 端口新建连接数(个)</div>
                    <p class="default-empty">未查到相关数据</p>
                </div>
            </div>
            <div class="echarts" #PacketRX>
                <div class="echartsChild" *ngFor="let item of PacketRXArr;let i = index" (mouseover)=" pacMouseover(i)" (mouseout)=" pacMouseout(i)">
                    <div class="echartsIcon" style="display:none" (click)=" pacSpanClick(i,monitor,viewModal,PacketRXtitle)"><img src="./../../../../assets/img/fd.png" alt="" srcset=""></div>
                    <div class="titleName" #PacketRXtitle>{{item.title}}</div>
                    <monitor #monitor [legendData]='item.data' [xAxisData]=' item.xAxis.data ' [num]='item.num' [seriesData]='item.series '></monitor>
                </div>
                <div class="echartsChild" *ngIf="this.PacketRXArr.length == 0">
                    <div class="titleName">端口流入数据包数(次/秒)</div>
                    <p class="default-empty">未查到相关数据</p>
                </div>
            </div>
            <div class="echarts" #PacketTX>
                <div class="echartsChild" *ngFor="let item of PacketTXArr;let i = index" (mouseover)="packMouseover(i)" (mouseout)="packMouseout(i)">
                    <div class="echartsIcon" style="display:none" (click)="packSpanClick(i,monitor,viewModal,PacketTXtitle)"><img src="./../../../../assets/img/fd.png" alt="" srcset=""></div>
                    <div class="titleName" #PacketTXtitle>{{item.title}}</div>
                    <monitor #monitor [legendData]='item.data' [xAxisData]=' item.xAxis.data ' [num]='item.num' [seriesData]='item.series '></monitor>
                </div>
                <div class="echartsChild" *ngIf="this.PacketTXArr.length == 0">
                    <div class="titleName">端口流出数据包数(次/秒)</div>
                    <p class="default-empty">未查到相关数据</p>
                </div>
            </div>
            <div class="echarts" #ActiveConnection>
                <div class="echartsChild" *ngFor="let item of ActiveConnectionArr;let i = index" (mouseover)="actMouseover(i)" (mouseout)="actMouseout(i)">
                    <div class="echartsIcon" style="display:none" (click)="actSpanClick(i,monitor,viewModal,ActiveConnectionTitle)"><img src="./../../../../assets/img/fd.png" alt="" srcset=""></div>
                    <div class="titleName" #ActiveConnectionTitle>{{item.title}}</div>
                    <monitor #monitor [legendData]='item.data' [xAxisData]=' item.xAxis.data ' [num]='item.num' [seriesData]='item.series '></monitor>
                </div>
                <div class="echartsChild" *ngIf="this.ActiveConnectionArr.length == 0">
                    <div class="titleName">端口活跃连接数(个)</div>
                    <p class="default-empty">未查到相关数据</p>
                </div>
            </div>
            <div class="echarts" #activeConnection>
                <div class="echartsChild" *ngFor="let item of InactiveConnectionArr;let i = index" (mouseover)="inMouseover(i)" (mouseout)="inMouseout(i)">
                    <div class="echartsIcon" style="display:none" (click)="inSpanClick(i,monitor,viewModal,activeConnectionTitle)"><img src="./../../../../assets/img/fd.png" alt="" srcset=""></div>
                    <div class="titleName" #activeConnectionTitle>{{item.title}}</div>
                    <monitor #monitor [legendData]='item.data' [xAxisData]=' item.xAxis.data ' [num]='item.num' [seriesData]='item.series '></monitor>
                </div>
                <div class="echartsChild" *ngIf="this.InactiveConnectionArr.length == 0">
                    <div class="titleName">端口非活跃连接数(个)</div>
                    <p class="default-empty">未查到相关数据</p>
                </div>
            </div>
        </div>
    </div>



</div>
<!--<div style="width:100px;height:100px;border:1px solid #e5e5e5"><img src="./../shared/scale.png" alt=""></div>-->




<!-- <div class="modal fade common-modal" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static '}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="overflow: auto;">

            <button type="button" class="close pull-right colorbgc" aria-label="Close" (click)="viewModal.hide()">
                    <span aria-hidden="true">&times;</span>
                     </button>

            <div *ngIf="viewtitle" class="titleName">{{viewtitle}}</div>
            <div class="viewValue" *ngIf="viewValue">
                <monitor [legendData]='viewValue.legendData ' [num]='viewValue.num' [xAxisData]='viewValue.xAxisData ' [seriesData]='viewValue.seriesData '></monitor>
            </div>
            <div style="clear:both"></div>


        </div>
    </div>
</div> -->


<div class="modal fade common-modal" bsModal #viewModal="bs-modal" [config]="{backdrop: 'static '}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header headerName">
                <span *ngIf="viewTitle">{{viewTitle}}</span>
                <button type="button" class="close pull-right colorbgc" aria-label="Close" (click)="viewModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" *ngIf="viewValue">
                <monitor [legendData]='viewValue.legendData' [num]='viewValue.num' [xAxisData]='viewValue.xAxisData ' [seriesData]='viewValue.seriesData '></monitor>
            </div>

            <div style="clear:both"></div>


        </div>
    </div>
</div>