span.select-close {
  color: #cfcfcf;
  cursor: pointer;
  font-size: 22px;
  margin-left: 10px;
  //   vertical-align: middle;
  //   position: relative;
  //   top: -4px;
}

.filter-item {
  margin-bottom: 10px;
}