<div class="oss-monitor component journal-info clearfix primeng-treeTable">
    <div class="title">
        <span>对象存储监控</span>
    </div>
    <div class="line"></div>
    <div class="content">
        <!--tab页-->
        <div class="tab">
            <ul class="clearfix">
                <li>

                    <a (click)="baseClick()" [ngClass]='{"active":routeStatesHierarchy  && routeStatesHierarchy != -1}'>用户层级</a>
                </li>
                <li>

                    <a (click)="handleClick()" [ngClass]='{"active":routeStatesBuketchy  && routeStatesBuketchy != -1}'>Bucket层级</a>
                </li>
            </ul>
        </div>
        <router-outlet></router-outlet>

    </div>
</div>